fastapi[standard]
uvicorn[standard]
sqlalchemy>=2.0
psycopg[binary]
pydantic-settings
pyjwt
bcrypt
email-validator
ollama
langchain
langchain-core
langchain-ollama
langgraph
chromadb
langchain-chroma
prometheus-client
prometheus-fastapi-instrumentator
pytest
pytest-cov
slowapi
langchain-groq
